[submodule "query"]
	path = query
	url = https://github.com/coder-ka/query
[submodule "prisma-query"]
	path = prisma-query
	url = https://github.com/coder-ka/prisma-query
[submodule "testing"]
	path = testing
	url = https://github.com/coder-ka/testing
[submodule "knotta"]
	path = knotta
	url = https://github.com/coder-ka/knotta
[submodule "knotta-lsp-vscode-ext"]
	path = knotta-lsp-vscode-ext
	url = https://github.com/coder-ka/knotta-lsp-vscode-ext
[submodule "knotta-lsp-server"]
	path = knotta-lsp-server
	url = https://github.com/coder-ka/knotta-lsp-server
